.imgContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.imageWrapper {
    position: sticky;
    padding: 5px;
    top: 20px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
}

.imgMain {
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    max-width: 380px;
    padding: 5px;
    border-radius: 6px;
    justify-content: center;
    display: flex;
}

.imgMain img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imgGallery {
    display: flex;
    max-width: 381px;
    width: 100%;
    height: 56px
}

.imgGallery img {

    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 1px solid #DEE2E7;
    border-radius: 6px;
}

@media(max-width:802px) {
    .imageWrapper {

        box-shadow: none;
    }

}

@media(max-width:537px) {
    .imageWrapper {
        position: static;
    }
}