
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    padding: 8px 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerLeft {
      width: 100%;
    max-width: 1400px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 24px;
}

.wrapper {
    display: none;

    width: 100%;
    align-items: center;
    justify-content: flex-end;

    /* margin-top: 6px; */
    margin-top: 8px;
}


@media only screen and (max-width:864px) {
    .header {
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width:678px) {
       .header {
        padding: 8px 12px 0;
    }

    .headerLeft {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .searchBar {
        order: 3;
        width: 100%;
        margin: 5px auto 0;
    }

}

@media only screen and (max-width:465px) {

    .headerLeft{
    justify-content: center;
}

}
@media only screen and (max-width:430px) {

    .headerLeft {
        justify-content: center;
        gap: 12px;
    }

    .searchBar {
        width: 100%;
    }

}

@media only screen and (max-width:380px) {
 .headerLeft {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .wrapper {
        justify-content: center;
        margin-top: 5px;
    }

}