/* navbar  */
html {
    font-size: 16px;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #DEE2E7;
}


.navMenu {
    display: flex;
    align-items: center;
    width: 620px;
    height: 24px;
    justify-content: space-evenly;
    list-style: none;
}

.navItem {
    display: flex;
    position: relative;
}

.categoryDropDownMenu {
    display: flex;
    align-items: center;
}

.navMenuIcon {
    margin-right: 5px;
}

.dropDown {
    position: absolute;
    top: 19px;
    z-index: 1000;
    width: 416px;
    min-height: 439px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 9px 0 9px 9px;
    overflow-y: auto;
    text-decoration: none;
    transform: translateY(20px) scale(0.98);
    transition:
     transform .25s cubic-bezier(.22,1,.36,1),
        opacity .25s ease,
        visibility .25s;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;

}

.dropDownOpen {
      opacity: 1;
    visibility: visible;

    transform: translateY(0) scale(1);

    pointer-events: auto;
}

.dropDownItem {
    list-style: none;
    padding: 10px;
}

.dropDownItem:hover {
    background-color: #e1e3e1;
    font-weight: 600;
}

.dropDownLink {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}


.navDropdownMenu,
.navMenuList {
    font-size: 1rem;
    display: flex;
    text-decoration: none;
    color: black;
    cursor: pointer;

}

@media only screen and (max-width: 635px) {

    .navbar {
        display: flex;
        width: 100%;
        /* height: auto; */
        /* border: none; */
        padding: 0 5px;
        overflow-x: auto;
        overflow: visible;
        scroll-behavior: smooth;
        position: relative;
    }



    .navMenu {
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        scrollbar-width: none;
        gap: 8px;
        overflow-x: auto;

    }

    .navMenu::-webkit-scrollbar {
        display: none;
    }


    .dropDown {
        position: fixed;
        z-index: 1000;
        width: 200px;
        top: 35%;
        align-self: flex-start;
        height: 80vh;
    }

}